
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-recipe-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
    background-color: rgb(244, 246, 248);
    border-radius: 20px;
    padding: 20px;
    gap: 1em;
}

.input-box {
    border-radius: 20px;
    padding: 5px;
    padding: 10px 20px 10px 20px;
}

.submit-btn {
    border-radius: 20px;
    padding: 15px;
}

.reset-btn {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(244, 209, 209);

}


.title-1 {
    font-size: 3em;
}